body {
    margin: 0px;
    color: grey;
}

.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }
::-webkit-scrollbar-thumb { border: none;}
::-webkit-scrollbar-track { box-shadow: none; border: none; }
::-webkit-scrollbar { width: 0px; }

.container {
    display: flex;
    align-items: stretch;
}

.container div {
    border: none;
    padding: 0px;
    font-size: calc(18px + 1.5vh);
    font-family: sans-serif;
}


/* left container. content */
.container .container-left {
    /*flex: 2;*/
    order: 1;
    width: 60vw;
    height: 100vh;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 30px;
    overflow: hidden;
}
.container-left:hover {
    overflow: auto;
}

.container .container-left h1 {
    text-align: left;
    text-indent: 38px;
    line-height: 0.9;
    font-size: 10.4vw;
    font-weight: 800;
    padding-left: 70px;
    margin-top: 80px;
}

.container .container-left p {
    font-size: 28px;
}


/* right container. list */
.container .container-right {
        /*flex: 1; */
        order: 2;
        flex-direction: column;
        width: 40vw;
        background-color: #ffffff;
        color: grey;
        border-left-style: solid;
        border-left-width: 2.6px;
        border-left-color: grey;
        padding-left: 36px;
        overflow: hidden;
        scroll-snap-type: y mandatory;
}
.container-right:hover {
    overflow: auto;
}

.container-right .list {
    margin-top: 100px;
    margin-left: 12px;
    height: 0px;
    min-height: 0px;
}

.container .container-right .list-item {
    padding: 0px 0px 0px 0px;
    font-family: 'Roboto Black', sans-serif;
    font-size: 70px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2.6px;
    text-indent: 36px;
    margin-left: -48px;
}

.list-item p {
    margin-top: 0px;
    margin-bottom: 0px;
    height: inherit;
    padding: 34px 0px 12px 0px;
    scroll-snap-align: start;
    scroll-margin-top: 2.2px;
}