@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

:root{
    --font_Roboto: 'Roboto', sans-serif;
    --font_OpenSans: 'Open Sans', sans-serif;
    --font_Lato: 'Lato', sans-serif;
    --font_Ralewey: 'Raleway', sans-serif;
}
h1 {
    font-family: var(--font_Ralewey);
    font-size: 34mm;
}

p {
    font-family: var(--font_Ralewey);
}